# Configuración de la Base de Datos
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_NAME=servicentro

# Configuración de TypeORM
# Poner en 'true' solo para desarrollo local si se quieren sincronizar las entidades automáticamente.
# Para producción y staging, usar 'false' y correr las migraciones manualmente.
TYPEORM_SYNC=true
TYPEORM_LOGGING=false

# Configuración de la API
API_PREFIX=/api/v1
PORT=3000

# Configuración de Seguridad y JWT
JWT_SECRETO=este-es-un-secreto-muy-inseguro-cambiar
JWT_EXPIRACION=3600

# Umbral para el dashboard
DASHBOARD_STOCK_MINIMO=5